@font-face {
  font-family: Prisma;
  src: url(font/Prisma.ttf);
}
@font-face {
  font-family: Starjedi;
  src: url(font/Starjedi.ttf);
}

@font-face {
  font-family: Courgette;
  src: url(font/Courgette-Regular.ttf);
}

h1 {
 font-family: Courgette; 
 font-size: 40px;
}


body {
  background-color: rgb(8, 167, 167);
  text-align: center;
  font-family: Prisma;
}

button {
  margin-top: 20px;
  font-family: Starjedi;

}

.red {
  color: brown;
}
